{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  {% if active_count %}
  <div class="alert alert-success" style="margin-bottom:15px;">
    New exam session is active. You can start now.
  </div>
  {% endif %}
  <div class="panel panel-primary rounded-0">
    <div class="panel-heading rounded-0">
      <h6 class="panel-title">Exams</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Exam</th>
          <th>Course</th>
          <th>Total Marks</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for b in bundles %}
      <tr>
        <td>{{b.title}}</td>
        <td>{{b.course.course_name}}</td>
        <td>{{b.total_marks}}</td>
        <td>
          {% if b.is_active %}
            <span class="label label-success">Active</span>
          {% else %}
            <span class="label label-default">Inactive</span>
          {% endif %}
        </td>
        <td class="text-center">
          {% if b.is_active %}
            <a class="btn btn-success btn-xs" style="border-radius:0;" href="{% url 'student-start-exam' b.id %}">Start</a>
          {% else %}
            <button class="btn btn-default btn-xs" style="border-radius:0;" disabled>Not Active</button>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-center text-muted">
          <p>No courses available yet.</p>
          <small>Teachers can create courses to make them available here.</small>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}

