{% extends 'exam/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary rounded-0">
    <div class="panel-heading rounded-0">
      <h6 class="panel-title">Manage Exams</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Exam Bundle</th>
          <th>Course</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for b in bundles %}
      <tr>
        <td>{{b.title}}</td>
        <td>{{b.course.course_name}}</td>
        <td>
          {% if b.is_active %}
            <span class="label label-success">Active</span>
          {% else %}
            <span class="label label-default">Inactive</span>
          {% endif %}
        </td>
        <td class="text-center">
          {% if b.is_active %}
            <a class="btn btn-warning btn-xs" style="border-radius: 0%;" href="{% url 'stop-exam' b.id %}">
              <span class="glyphicon glyphicon-pause"></span> Stop
            </a>
          {% else %}
            <a class="btn btn-success btn-xs" style="border-radius: 0%;" href="{% url 'start-exam' b.id %}">
              <span class="glyphicon glyphicon-play"></span> Start
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}

